@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    background-color: black;
    color: white;
}


.Body_SubHeading {
    margin-top: 80px;
    margin-left: 96px;
    color: #FFF;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.4px;
    padding-bottom: 20px; 
}

.Body_names {
    column-count: 4;
    column-gap: 20px; 
    margin-left: 96px;
    margin-top: 20px; 
}

.Body_name {
    margin-bottom: 20px; 
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.Body_Set {
    border-bottom: 0px solid white;
    padding-bottom: 20px; 
}

.Body_Set::before {
    content: ''; 
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%); 
    width: 90%; 
    height: 1px;
    background: var(--colors-base-color-16, rgba(255, 255, 255, 0.16));
}

.Body_Setl {
    border-bottom: 1px solid var(--colors-base-color-30, rgba(255, 255, 255, 0.30));
}

.A_Z_Box {
    position: sticky;
    height: 66px;
    margin-top: 120px;
    align-items: center;
    border-bottom: 1px solid var(--colors-base-color-16, rgba(255, 255, 255, 0.16));
    background: black;
    display: flex;
    align-items: center;
    gap: 25px;
    left: 0;
    z-index: 2;
    padding-left: 96px;
    top: 0;
    overflow-x: scroll;
  }

.A_Z_Box button {
    color: var(--foreground-70, var(--colors-base-color-70, rgba(255, 255, 255, 0.70)));
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.A_Z_Box button:hover {
    transform: scale(1.5);
}

@media (max-width: 768px) {
    .A_Z_Box {
        display: none;
    }

    .Body_names {
        column-count: 2;
    }
    .Body_name{
        font-size: 20px;
        line-height: 30px;
        word-wrap: break-word;
    }

}

@media (max-width: 660px) {
    /* Remove any specific styling for max-width 430px */
    .A_Z_Box {
        display: none;
    }
    .Body_SubHeading{
        margin-left: 24px;
    }


    .Body_names {
        margin-left: 88px;
        column-count: 1;
        column-gap: 20px;
        margin-left: 24px;
        margin-top: 20px;
    }

    .Sidebar {
        height: 100%; /* Set the sidebar height to 100% */
        width: 24px;
        display: flex;
        width: 54px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0px;
    }
    .Sidebar button {
        font-size: 14px;
    }
}

.Sidebar {
    height: 100%;
    width: 42px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 80px;
    z-index: 999;
    gap: 0px;
    overflow-y: scroll;
    display: none;
}
.show{
    display: flex;
}

.Sidebar button {
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin-bottom: 8px;
    top: 0;
}

.Sidebar button:hover {
    transform: scale(1.5);
}

  @media (min-width: 769px) {
    .Sidebar {
      display: none;
    }
    
  }
  